<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="padding-top: 100px;">
        <h1>Sign Up!</h1>
        <form method="POST" , action="{% url 'signup' %}">
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Email:
            <br>
            <input name="email" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password1" type="password" value="">
            <br>
            Confirm Password:
            <br>
            <input name="password2" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Sign UP!">
        </form>
    </div>
</body>

</html>